body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 10vw;
    background-color: #f4f7f6; /* Cor de fundo da seção */
}

#logo_img {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo_img h1 {
    margin-top: 3vh;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 400;
    color: #333;
    letter-spacing: 0.05em;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh 5vw;
}

h2 {
    font-size: 2vw; /* Tamanho menor para o cabeçalho */
    text-align: center;
    margin-bottom: 1.5vh; /* Menos espaçamento abaixo do cabeçalho */
    font-weight: 400;
    color: #2c3e50;
}

label {
    font-size: 1vw; /* Tamanho menor da fonte */
    color: #2c3e50;
    margin: 1vh 0;
    display: block;
}

input {
    width: 29vw; 
    height: 4vh; /* Altura dos campos */
    margin: 1vh 0; /* Espaçamento vertical */
    padding-left: 1vw; /* Espaçamento interno */
    font-size: 0.9vw;
    border: 1px solid #C4C4C4; /* Borda normal */
    border-radius: 0.5vw; /* Bordas arredondadas */
    background-color: #f9f9f9;
    transition: all 0.2s ease-in-out;
}

input:focus {
    outline: none;
    border-color: #27C394;
    box-shadow: 0 0 6px rgba(39, 195, 148, 0.5);
}

button[type="submit"], button#voltar {
    width: 30vw; /* Largura total */
    height: 4.5vh; /* Altura do botão */
    margin: 1vh 0; /* Espaçamento vertical */
    background-color: #27C394; /* Cor do botão */
    color: #fff; /* Cor do texto */
    border: none; /* Sem bordas */
    border-radius: 0.5vw; /* Bordas arredondadas */
    font-size: 1vw; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de pointer */
    transition: background-color 0.3s, transform 0.3s; /* Transições */
}

button[type="submit"]:hover {
    background-color: #1aa379; /* Cor ao passar o mouse */
    transform: translateY(-2px); /* Animação ao elevar o botão */
}

button#voltar {
    background-color: #C4C4C4; /* Cor do botão voltar */
    color: #333; /* Cor do texto */
}

button#voltar:hover {
    background-color: #b0b0b0; /* Cor ao passar o mouse */
    transform: translateY(-2px); /* Animação ao elevar o botão */
}
