section{
    width: 67vw;
    height: 100vh;
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 2%;
}
#btn_back{
    display: flex;
    position: absolute;
    top: 3%;
    left: 10%;
}