<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Chat </title>
    <link rel="stylesheet" href="./../css/footer_header/f_h.css">
    <script src="https://kit.fontawesome.com/a451098362.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav id="funcoes">
            <div id="menu_fechado">
                <button id="abrir_menu"><i></i></button>
                <div id="menu">
                    <button id="notificação_i"><i></i></button>
                    <button id="chat_i"><i></i></button>
                    <button id="mensagens_i"><i></i></button>
                    <button id="mais_i"><i></i></button>
                    <button id="post_i"><i></i></button>
                </div>
            </div>
            <div id="menu_aberto">
                <button id="fechar_menu"><h1>fechar menu </h1> <i></i></button>
                <div id="menu_completo">
                    <button id="notificação_ia"><i></i> <h1>notificação</h1></button>
                    <button id="chat_ia"><i></i> <h1>chat</h1></button>
                    <button id="mensagens_ia"><i></i> <h1>mensagens</h1></button>
                    <button id="mais_ia"><i></i> <h1>mais</h1></button>
                    <button id="post_ia"><i></i> <h1>Posts</h1></button>
                </div>
            </div>
        </nav>
    </header>
    <section>
    </section>
    <footer>
        <div id="box_notificacao">
            <button id="botao_ntf">
                <div id="contato_ntf">
                    <div id="img_ctt_ntf"></div>
                    <div id="inf_ctt_ntf">
                        <h4>nome do cidadao</h4>
                        <h4>@arroba</h4>
                        <h4>minutoes e horas</h4>
                    </div>
                    <div id="btn_ctt_ntf">
                        <i class="fa-solid fa-eye-low-vision"></i>
                        <i class="fa-solid fa-x"></i>
                    </div>
                </div>
            </button>
            <button id="ver_mais">
                <h4>Ver Mais...</h4>
            </button>
        </div>
        <nav id="chat">
            <div class="boxs_chat" id="box_chat">
                <div id="lista_ctt">
                    <h1 id="pessoas_ctt">Pessoas</h1>
                    <button id="botao_ctt">
                        <div id="contato_ctt">
                            <div id="img_ctt"></div>
                            <div id="inf_ctt">
                                <h4>nome do cidadao</h4>
                                <h4>@arroba</h4>
                                <h4>min</h4>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="boxs_chat" id="box_chat_aberto">
                <div id="lista_ctt_aberto">
                    <h1 id="pessoas_ctt">Pessoas</h1>
                    <button id="botao_ctt">
                        <div id="contato_ctt">
                            <div id="img_ctt"></div>
                            <div id="inf_ctt">
                                <h4>nome do cidadao</h4>
                                <h4>@arroba</h4>
                                <h4>min</h4>
                            </div>
                        </div>
                    </button>
                </div>
                <div id="chat_ctt_aberto">
                    <div id="mensagens"></div>
                    <div id="msg">
                        <input id="botao_digitando" type="text" placeholder="Digite Aqui...">
                        <button id="enviar_msg"> Enviar</button>
                    </div>
                </div>
            </div>
        </nav>
    </footer>
</body>

</html>