<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil_L</title>
    <link rel="stylesheet" href="../css/perfil/perfil.css">
    <script src="https://kit.fontawesome.com/7f2be37107.js" crossorigin="anonymous"></script>
    <script type="module" src="./../js/perfil.js"></script>
    <link rel="stylesheet" href="./../css/footer_header/f_h.css">
    <script type="module" src="./../../controller/header_i.js" defer></script>
</head>

<body>
    <header id="header">
        <nav id="funcoes">
            <div id="menu_fechado">
                <button id="abrir_menu" onclick="abrirMenu(-1)">
                    <i class="fa-solid fa-arrow-right fa-2xl"></i>
                </button>
                <div id="menu">
                    <button id="perfil_i" onclick="window.location.href='./perfil_L.html'">
                        <i class="fa-solid fa-person fa-2xl"></i>
                    </button>
                    <button id="post_i" onclick="window.location.href='./chat.html'">
                        <i class="fa-solid fa-paper-plane fa-2xl"></i>
                    </button>
                </div>
            </div>
            <div id="menu_aberto">
                <div id="fechar_menu">
                    <h1>fechar menu </h1>
                    <button id="btn_close" onclick="abrirMenu(0)">
                        <i id="ixmark" class="fa-solid fa-xmark fa-2xl"></i>
                    </button>
                </div>
                <div id="menu_completo" onclick="window.location.href='./perfil_L.html'">
                    <button id="perfil_i">
                        <i class="fa-solid fa-person fa-2xl"></i>
                        <h1>Perfil</h1>
                    </button>
                    <button id="post_ia" onclick="window.location.href='./chat.html'">
                        <i class="fa-solid fa-paper-plane fa-2xl"></i>
                        <h1>Posts</h1>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <section id="miolo">
        <div>
            <button id="btn_back">
                <i class="fa-solid fa-arrow-left"></i>
            </button>
        </div>
        <div>

            <div><button id="btn_edit" onclick="mostrarATLZ()">Edit Profile</button></div>
            <nav id="banners">
                <div class="banner" id="banner_1"><img src="https://images.wondershare.com/repairit/aticle/2021/08/twitter-header-photo-issues-1.jpg" id="castler"></div>
                <div class="banner" id="banner_2"><img src="" id="block"></div>
                <div class="banner" id="banner_3"><img src="" id="south"></div>
            </nav>

            <nav id="btns_banners">
                <button class="btn_banner" onclick="trocarBanner(0)"></button>
                <button class="btn_banner" onclick="trocarBanner(1)"></button>
                <button class="btn_banner" onclick="trocarBanner(2)"></button>
            </nav>

            <div>
                <div>
    </section>
    <section id="telaFDS">
        <div id="container_bola">
            <input id="fundo_atlz" type="text" placeholder="Plano de Fundo">
            <input id="foto_perfil" type="text" placeholder="Foto de Perfil">
            <input id="Nome_atlz" type="text" placeholder="Nome">
            <input id="aroba_atlz" type="text" placeholder="@">
            <div id="btn_fds">
                <button class="btn_fd" onclick="esconderATLZ()">Cancelar</button>
                <button class="btn_fd" onclick="esconderATLZ()">Salvar</button>
            </div>
        </div>

    </section>

    <footer id="pezinho">
        <div id="box_notificacao">
            <button id="botao_ntf">
                <div id="contato_ntf">
                    <div id="img_ctt_ntf"></div>
                    <div id="inf_ctt_ntf">
                        <h4>nome do cidadao</h4>
                        <h4>@arroba</h4>
                        <h4>minutoes e horas</h4>
                    </div>
                    <div id="btn_ctt_ntf">
                        <i class="fa-solid fa-eye-low-vision"></i>
                        <i class="fa-solid fa-x"></i>
                    </div>
                </div>
            </button>
            <!-- <button id="ver_mais">
                <h4>Ver Mais...</h4>
            </button> -->
        </div>
        <nav id="chat">
            <div class="boxs_chat" id="box_chat">
                <div id="lista_ctt">
                    <h1 id="pessoas_ctt">Posts</h1>
                    <button id="botao_ctt" onclick="abrirChat(130)">
                        <div id="contato_ctt">
                            <div id="img_ctt"></div>
                            <div id="inf_ctt">
                                <h4>nome do cidadao</h4>
                                <h4>@arroba</h4>
                                <h4>min</h4>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="boxs_chat" id="box_chat_aberto">
                <div id="lista_ctt_aberto">
                    <h1 id="pessoas_ctt">Posts</h1>
                    <button id="botao_ctt" onclick="abrirChat(0)">
                        <div id="contato_ctt">
                            <div id="img_ctt"></div>
                            <div id="inf_ctt">
                                <h4>nome do cidadao</h4>
                                <h4>@arroba</h4>
                                <h4>min</h4>
                            </div>
                        </div>
                    </button>
                </div>
                <div id="chat_ctt_aberto">
                    <div id="mensagens"></div>
                    <div id="msg">
                        <input id="botao_digitando" type="text" placeholder="Digite Aqui...">
                        <button id="enviar_msg" onclick="conversar()"> Enviar</button>
                    </div>
                </div>
            </div>
        </nav>
    </footer>
</body>

</html>
<!-- <div><button id="btn_back"><i class="fa-solid fa-arrow-left"></i></button></div>
<div>
<h1 id="Nome">Nome</h1>
</div>
<div id="container">
<div id="perfil-icone"></div>
</div>
<div><button id="btn_edit">Edit Profile</button></div>
<div>
<h3 id="Nome_exemplo">Nome_exemplo</h3>
</div>
<div>
<h4 id="aroba">@exemplo_nome</h4>
</div>
<div>
<h3 id="bio">biografia</h3>
</div>
<div>
<h3 id="seguidores">(999) seguidores</h3>
</div>
<div>
<h3 id="seguindo">(999) seguindo</h3>
</div>
<div> -->
<!-- <h1 id="Posts">Posts</h1> </div>
<div>
<h1 id="Medias">Medias</h1> </div>
<div>
<h1 id="Curtidos">Curtidos</h1>
</div> -->
<!-- <div class="line"></div>
<div class="icon_post"></div>
<div>
<h4 id="nm_post">Nome_exemplo</h4>
</div>
<div>
<h5 id="aroba_post">@exemplo_nome xxmin</h5>
</div>
<div><button id="fds"><i class="fa-solid fa-bars"></i></button></div>
<div>
<h5 id="comentario_feminista">Comentario de feminista do K entre nós</h5>
</div>
<div><button id="btn_comentario"><i class="fa-regular fa-comment"></i></button></div>
<div><button id="btn_repaet"><i class="fa-solid fa-repeat"></i></button></div>
<div><button id="btn_heart"><i class="fa-regular fa-heart"></i></button></div> -->