<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil_L</title>
    <link rel="stylesheet" href="../css/perfil/perfil.css">
    <script src="https://kit.fontawesome.com/7f2be37107.js" crossorigin="anonymous"></script>
    <script type="module" src="./../js/perfil.js"></script>
</head>

<body>
    <header>

    </header>
    
    <section id="miolo">
        <div><button id="btn_back"><i class="fa-solid fa-arrow-left"></i></button></div>
        <div>
        
            <div><button id="btn_edit" onclick="mostrarATLZ()">Edit Profile</button></div>
        <div>
    </section>
<section id="telaFDS">
    <div id="container_bola">
        <input id="fundo_atlz" type="text" placeholder="Plano de Fundo">
        <input id="foto_perfil" type="text" placeholder="Foto de Perfil">
        <input id="Nome_atlz" type="text" placeholder="Nome">
        <input id="aroba_atlz" type="text" placeholder="@">
        <div id="btn_fds">
            <button class="btn_fd" onclick="esconderATLZ()">Cancelar</button>
            <button class="btn_fd" onclick="esconderATLZ()">Salvar</button>
        </div>
    </div>

</section>

    <footer>

    </footer>
</body>

</html>