body {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo no eixo horizontal */
    align-items: center; /* Centraliza o conteúdo no eixo vertical */
    height: 100vh; /* Faz o body ocupar toda a altura da tela */
    margin: 0; /* Remove margens padrão */
}

#logo_img {
    flex: 1; /* Permite que a imagem ocupe espaço flexível */
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
}

div {
    flex: 1; /* Permite que o conteúdo ocupe espaço flexível */
    display: flex;
    flex-direction: column; /* Organiza os itens em coluna */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    padding: 20px; /* Adiciona um pouco de espaço ao redor */
}

button {
    margin: 10px 0; /* Adiciona espaço entre os botões */
    padding: 10px; /* Espaçamento interno dos botões */
    background-color: #f0f0f0; /* Cor de fundo dos botões */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    font-size: 16px; /* Tamanho da fonte */
}

button i {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}
#logo_img {
    flex: 1;
    display: flex;
    flex-direction: column; /* Organiza em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

#logo_img h1 {
    margin-top: 10px; /* Espaço acima do h1 */
    text-align: center; /* Centraliza o texto */
    font-size: 5vw;
}

