footer {
    width: 30vw;
    height: 100vh;
    background-color: #F5F8FA;
    position: absolute;
    right: 0vw;
    top: 0vh;
}

#box_notificacao {
    width: 28vw;
    height: 25vh;
    margin: 1vw;
    background-color: #AAB8C2;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;

}

#linha_pessoa_notificacao {
    display: flex;
    flex-direction: row;
    width: 26vw;
    height: 6vh;
    background-color: #F5F8FA;
    border-radius: 0.5vw;
    position: absolute;
    left: 2vw;
    top: 4vh;
}

#foto_notificacao {
    width: 2vw;
    height: 4vh;
    border-radius: 5vw;
    background-color: black;
    margin: 1vh 0.3vw;
}

.texto_noticacao {
    margin: 0vh 0.4vw;
}

#arroba_notificacao {
    position: absolute;
    top: -0.7vh;
    left: 12vw;
    color: #657786;
}

#nome_notificacao{
    position: absolute;
    top: -0.7vh;
    left: 3vw;
}

#tempo_notificacao {
    position: absolute;
    top: -0.7vh;
    left: 20vw;
    color: #657786;
}

#ver_mais_notificacao {
    position: absolute;
    left: 13vw;
    top: 21vh;
}
#linha_mensagem_notificacao{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 5.4vh;
    left: 5vw;
    justify-content: space-between;
    width: 20vw;
}
#botoes_notificacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}