footer {
    width: 30vw;
    height: 100vh;
    border-left: solid 0.2vw black;
    background-color: rgb(245, 248, 250);
    position: absolute;
    right: 0vw;
    top: 0vh;
}

#box_notificacao{
    width: 28vw;
    height: 27vh;
    margin: 1vh 1vw;

    border-radius: 1vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: blue;
}

#botao_ntf{
    width: 26vw;
    height: 7vh;
    margin: 1vh 1vw;

    border-radius: 1vw;

    background-color: red;
}

#contato_ntf{
    display: flex;

    align-items: center;
    text-align: center;
}

#img_ctt_ntf{
    width: 2vw;
    height: 2vw;

    border-radius: 50%;

    background-color: black;
}

#inf_ctt_ntf{
    width: 20vw;
    display: flex;
    justify-content: space-between;
}

#btn_ctt_ntf{

    margin-left: 1vw;

    display: flex;
    flex-direction: column;
}

#ver_mais{
    width: 8vw;
    height: 4vh;

    text-align: center;

    margin: 1vh 10vw;

    background-color: transparent;
    border: transparent;
    border-bottom: solid 0.2vw black;
}

#chat{
    width: 60vw;
    height: 68vh;
    
    display: flex;

    position: absolute;
    right: -30vw; 
    /* chat fechado fica em -30 e aberto em 0 */
}

#box_chat{
    width: 28vw;
    height: 67vh;
    margin: 1vh 1vw 1vh;

    border-radius: 1vw;

    background-color: blue;
}

#box_chat_aberto{
    width: 28vw;
    height: 67vh;
    margin: 1vh 1vw;

    border-radius: 1vw;

    background-color: blue;
}