#funcoes {
        width: 200vw;
        height: 100vh;

        display: flex;

        position: absolute;
        left: -100vw;
        z-index: 1;
}

header button:hover {
        cursor: pointer;
        transform: scale(1.01);
}

#menu_fechado {
        width: 3vw;
        height: 100vh;

        margin-right: 97vw;

        border-right: solid 0.2vw black;

        background-color: rgb(245, 248, 250);
}

#abrir_menu {
        width: 2.5vw;
        height: 2.5vw;

        margin: 1vh 0.25vw;

        border-radius: 50%;


        background-color: white;

}

#menu {
        width: 3vw;
        height: 60vh;

        margin-top: 19vh;
        /* 100- 60 = 20/20 mas como m cima ja tem 2=> 40-2 = 19/19 */

        border-right: solid 0.2vw black;

        display: flex;
        flex-direction: column;

        justify-content: start;
        align-items: center;

        background-color: rgb(245, 248, 250);
}

#menu button{
        width: 2vw;
        height: 2vw;

        margin: 1vh 0vw;

        align-items: center;

        border-radius: 50%;

        /* background-color: black; */
}

#menu button i{
        margin-left: -0.1vw;
}

#menu button:hover{
        cursor: pointer;
        transform: scaleX(1.1);
}


/* Comeca outro Menu */


#menu_aberto {
        width: 20vw;
        height: 100vh;

        border-right: solid 0.2vw black;

        background-color: rgb(245, 248, 250);
}

#fechar_menu {
        width: 18vw;
        height: 2.5vw;

        margin: 1vh 1vw;

        border-radius: 2vw;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        background-color: white;

}

#btn_close{
        padding-top: 1.25vw;
        align-items: center;

        background-color: transparent;
        border: none;
}

#fechar_menu i{
        width: 1.5vw;
        height: 1.5vw;

        margin: 0.25vh 1vw;

        border-radius: 2vw;
        align-items: center;
}

#menu_completo {
        width: 20vw;
        height: 60vh;

        margin-top: 19vh;
        /* 100- 60 = 20/20 mas como m cima ja tem 2=> 40-2 = 19/19 */

        border-right: solid 0.2vw black;

        display: flex;
        flex-direction: column;

        justify-content: start;

        background-color: rgb(245, 248, 250);
}

#menu_completo button{
        width: 18vw;
        height: 2vw;

        margin: 1vh 1vw;

        border-radius: 2vw;

        display: flex;
        align-items: center;

        background-color: white;
}

#menu_completo button:hover{
        cursor: pointer;
        transform: scaleX(1.1);
}

#menu_completo button i{
        width: 2vw;
        height: 2vw;

        margin: 0.25vh 1vw 0;
        padding-top: 2vw;

        border-radius: 2vw;
        /* background-color: black; */
}
