footer{
    width: 30vw;
    height: 100vh;
    background-color: #F5F8FA;
    position: absolute;
    right: 0vw;
    top: 0vh;
}
#box_notificacao{
    width: 28vw;
    height: 20vh;
    margin: 1vw;
    background-color: #AAB8C2;
}