<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../css/chat_link.css">
    <script src="https://kit.fontawesome.com/7fd202b876.js" crossorigin="anonymous"></script>
    <script type="module" src="./../index.js"></script>
</head>

<body>
    <header>
        <div id="header">
        </div>
    </header>

    <section id="bola">
        <div id="post_make">
            <div id="post_mc">
                <div id="post_mci">
                    <img src="">
                </div>
                <h1>Nome exemplo</h1>
                <h1 id="post_arrouba">@arrouba</h1>
            </div>
            <div id="post_botaos">
                <input id="digite" type="text" placeholder="Digite Aqui">
                <button id="post_enviar"> Enviar</button>
            </div>
        </div>

        <!-- Agora comeca o post de outros usuarios -->

        <!-- <div id="post_view"> -->
            <!-- <div id="post_vc"> -->
                <!-- <div id="post_vci"> -->
                    <!-- <img src=""> -->
                <!-- </div> -->
                <!-- <h1 id="post_Vnome">Nome exemplo</h1>
                <h1 id="post_Varrouba">@arrouba</h1>
                <h1 id="post_Vmin"> minutos</h1> -->
            <!-- </div> -->
            <!-- <div id="postV"> -->
                <!-- <h1>Textossss</h1> -->
            <!-- </div> -->
            <!-- <div id="post_botoes"> -->
                <!-- <button id="comentar"><i id="comentar_i"></i>xxx</button>

                <button id="curtir"><i id="curtir_i"></i>xxxx</button> -->
            <!-- </div> -->
        <!-- </div> -->

        <!-- texto 2 exemplo-->

        <div id="post_viewd">
            <div id="post_vcd">
                <div id="post_vcid">
                    <img src="">
                </div>
                <h1>Nome exemplo 2</h1>
                <h1 id="post_Varroubad">@arrouba 2</h1>
                <h1 id="post_Vmind"> minutos 2</h1>
            </div>
            <div id="postd">
                <h1>Textossss 2 </h1>
            </div>
            <div id="post_botoesd">
                <button id="comentard"><i id="comentar_id"></i>xxx</button>
                <button id="republicad"><i id="republica_id"></i>xxx</button>
                <button id="curtird"><i id="curtir_id"></i>xxxx</button>
            </div>
        </div>

    </section>

    <footer>
        <div id="footer"> </div>
    </footer>
</body>

</html>