<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil_L</title>
    <link rel="stylesheet" href="./css/perfil.css">
    <script src="https://kit.fontawesome.com/7f2be37107.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>

    </header>
    
    <section>
        <div><button id="btn_back"><i class="fa-solid fa-arrow-left"></i></button></div>
        <div>
            <h1 id="Nome">Nome</h1>
        </div>
        <div id="container">
            <div id="perfil-icone"></div>
        </div>
        <div><button id="btn_edit">Edit Profile</button></div>
        <div>
            <h3 id="Nome_exemplo">Nome_exemplo</h3>
        </div>
        <div>
            <h4 id="aroba">@exemplo_nome</h4>
        </div>
        <div>
            <h3 id="bio">biografia</h3>
        </div>
        <div>
            <h3 id="seguidores">(999) seguidores</h3>
        </div>
        <div>
            <h3 id="seguindo">(999) seguindo</h3>
        </div>
        <div>
            <h1 id="Posts">Posts</h1> </div>
        <div>
            <h1 id="Medias">Medias</h1> </div>
        <div>
            <h1 id="Curtidos">Curtidos</h1>
        </div>
        <div class="line"></div>
        <div class="icon_post"></div>
        <div>
            <h4 id="nm_post">Nome_exemplo</h4>
        </div>
        <div>
            <h5 id="aroba_post">@exemplo_nome xxmin</h5>
        </div>
        <div><button id="fds"><i class="fa-solid fa-bars"></i></button></div>
        <div>
            <h5 id="comentario_feminista">Comentario de feminista do K entre nós</h5>
        </div>
        <div><button id="btn_comentario"><i class="fa-regular fa-comment"></i></button></div>
        <div><button id="btn_repaet"><i class="fa-solid fa-repeat"></i></button></div>
        <div><button id="btn_heart"><i class="fa-regular fa-heart"></i></button></div>




    </section>
    <footer>

    </footer>
</body>

</html>